*{
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;

}
h2{
  margin-top: 15px;
}
.topo, .rodape{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #3b6e1d;
  color: #fff;
  font-size: 22px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.area{
  height: 400px;
  overflow-y: scroll;
}
.apresentacao img, .area p{
  width: 100%;
  margin: 15px 0;
}


.galeria{
  margin: 20px 0;
  display: flex;
}
.galeria h2{
  display: inline-block;
}
/*A barra de rolagem foi criada na declaração da classe area com o overflow-y. O valor do overflow-x foi definido internamente como auto e por isso apareceu automaticamente.*/
.galeria img{
  height: 300px ;
  width: calc(100% /3) ;
  margin: 0 1.5px;
  }